html {
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

#anibox {
	float: left;
	min-width: 30%;
	max-width: 30%;
	height: 100%;
}

@media only screen and (max-width: 768px) {
	#anibox {
		display: none;
	}
}

#interactbox {
	float: left;
	min-width: 40%;
	max-width: 40%;
	height:100%;
	background: rgb(0, 43, 55);
	
}

@media only screen and (max-width: 768px) {
	#interactbox {
		min-width: 100%;
		max-width:100%;
	}
}

#chatbox {
	float: left;
	width: 90%;
	height: 91%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	overflow: auto;
}

#inputbox {
	float: left;
	margin-top: 1em;
	width: 100%;
	height: 9%;
}

.main-box {
	margin-left: 2.25%;
	position: relative;
	width: 95%;
	height: 2.5em;
	background: rgb(129, 148, 150);
	border: none;
}

textarea:focus, input:focus{
    outline: none;
}

.message {
	background: rgb(92, 123, 131);
	color: rgb(253, 246, 227);
	border-radius: 1em;
	padding: 1em;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	float: left;
	max-width: 75%;
	clear: right;
}

@media only screen and (max-width: 768px) {
	.message {
		max-width: 70%;
	}
}

.messageself {
	padding: 1em;
	max-width: 75%;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	background: rgb(129, 148, 150);
	color: rgb(60, 60, 60);
	border-radius: 1em;
	float: right;
	clear: both;
}

#viewbox {
	float: left;
	min-width: 30%;
	max-width: 30%;
	height:100vh;
}

@media only screen and (max-width: 768px) {
	#viewbox {
		display: none;
	}
}

#miniweb {
	width: 99%;
	height: 100%;
}

.avatar {
	width: 100%;
	background-size: cover;
	height:100%;
}

#AliceAvatar {
	display: block;
	background-image: url("images/AliceAvatar.png");
}

#AliceAvatarDisgust {
	display: none;
	background-image: url('images/AliceAvatarDisgust.png');
}

#AliceAvatarPout {
	display: none;
	background-image: url('images/AliceAvatarPout.png');
}

#AliceAvatarHaughty {
	display: none;
	background-image: url('images/AliceAvatarHaughty.png');
}

#AliceAvatarSexy {
	display: none;
	background-image: url('images/AliceAvatarSexy.png');
}

#AliceAvatarHappy {
	display: none;
	background-image: url('images/AliceAvatarHappy.png');
}

.chat-bubble {
	width: 10%;
	float: left;
	clear: right;
	margin-right: 1em;
}

@media only screen and (max-width: 768px) {
	.chat-bubble {
		width: 15%;
	}
}